body {
    background-color: AliceBlue;
    max-width: 75em;
    margin: 10 auto;
  }
  .navbar {
    max-width: 75em;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0px -2px 0px -2px;
  }
  .navbar-items {
    background-color: #afa9a9e8;
    display: block;
    position: relative;
    height: 3em;
  }
  h2 {
    left: 1em;
    position: relative;
    bottom: 0;
    display: inline-block;
    padding: 0;
    color: white;
  }
  .petnav {
    position: absolute;
    display: inline-block;
    right: 0.5em;
    bottom: 0;
  }
  .listitems {
    right: 1em;
    list-style-type: none;
  }
  .listitem {
    color: white; 
    font-family: "Droid Sans";
    display: inline-block;
    padding: 0 0.5em 0 0.5em;
  }
  .pet{

    height: 400px;
  }
  .pet{

    height: 200px;
  }
  
  
  